<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Motor Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card [routerLink]="['/servicos']">
    <ion-card-header color="primary">
      <ion-card-subtitle>Serviços de manutenção</ion-card-subtitle>
      <ion-card-title>Serviços</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aqui você pode escolher quais os serviços de manutenção que deseja fazer no seu carro.
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title style="font-size: small; font-weight: bold;">
      Product devoleped with love and coffee
    </ion-title>
  </ion-toolbar>
</ion-footer>
