<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Motor Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header color="primary">
      <ion-label>Clientes</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let obj of clientes"
    [routerLink]="['/cliente-detalhes', obj.id]"
    >
      <ion-avatar slot="start">
        <img [src]="obj.urlFotoExibir" />
      </ion-avatar>
      <ion-label>{{obj.nome}}</ion-label>
    </ion-item>


  </ion-list>









  <ion-fab vertical="top" horizontal="end" slot="fixed">

    <ion-fab-button [routerLink]="['/cliente-novo']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>
</ion-content>
