<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="text-align-center"> <strong>Motor's Home</strong> </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card [routerLink]="['/servicos']">
    <ion-card-header color="primary">
      <ion-card-subtitle>Serviços de manutenção ofertados</ion-card-subtitle>
      <ion-card-title> <strong>Serviços</strong> </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Seção aonde estão disponíveis os serviços de manutenção prestados pela oficina como a troca de óleo, lanternagem, regulagem dos freios, etc.
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Developed with coffee and love</ion-title>
  </ion-toolbar>
</ion-footer>
